/*==============================================================
# Accordions
==============================================================*/
.accordion-component {
    .accordion-panel {
        background: $white;
        box-shadow: -1px 0px 0px 0px $gray, 1px 0px 0px 0px $gray;
        &:first-child {
            .panel-heading {
                border-top: 1px solid $gray;    
            }
        }
        /*&:last-child {
            border-top: 1px solid $gray;
            border-bottom: none;
        }*/
    }
    .panel-content {
        overflow: hidden;
        box-shadow: inset 0px -1px 0px 0px $gray;
        .content-wrapper {
            padding: 20px 30px;
            width: 100%;
        }
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .panel-heading {
        button {
            text-decoration: none;
            color: $grayDark;
            padding: 15px 40px 15px 15px;
            border-bottom: 1px solid darken($gray, 20%);
            border-left: none;
            border-right: none;
            border-top: none;
            background: $grayLight;
            display: block;
            position: relative;
            width: 100%;
            text-align: left;
            transition: all .3s $cbTrans;
            margin: 0;
            @include breakFirst(medium) {
                padding: 20px 40px 20px 20px;
            }
        }
        .icon {
            display: inline-block;
            position: absolute;
            height: 25px;
            width: 25px;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            &:before,
            &:after {
                content: "";
                background: $black;
                display: block;
                width: 100%;
                height: 1px;
                position: absolute;
                top: 50%;
                left: 0;
                transition: .4s all $cbTrans;
            }
            &:before {
                transform: translateY(-50%) rotate(0deg);
            }
            &:after {
                transform: translateY(-50%) rotate(90deg);
            }
        }
    }
    .active-panel {
        .panel-heading {
            .icon {
                &:before {
                    transform: translateY(-50%) rotate(-180deg);
                }
                &:after {
                    transform: translateY(-50%) rotate(0deg);
                }
            }
        }
    }
}