/*==============================================================
# Social media
==============================================================*/

.social-link {
	display: inline-block;
	color: $grayDark;
	svg {
		display: block;
		float: left;
		width: 45px;
		height: 45px;
		padding: 5px;
	}
}

.site-social-links {
	width: 100%;
	.social-link-container {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		text-align: center;
		font-size: 0
	}
	.social-link {
		background: $gray;
		flex: 1 1 auto;
		.icon {
			display: inline-block;
		}
	}
}

// Share Module
// --------------------------------------------------

.share-module {
	float: right;
	position: relative;
    z-index: 2;
    .active-modal & {
    	z-index: 5;
    }
	a,
	svg,
	span,
	.icon {
		display: inline-block;
		vertical-align: middle;
	}
	.icon {
		width: 65px;
		height: 65px;
		padding: 10px;
	}
	svg {
		width: 100%;
		height: 100%;
		fill: $grayDark;
	}
	.share-module-trigger {
		background: $grayDark;
		padding: 0;
		backface-visibility: hidden;
		border-radius: 100%;
		svg {
			fill: $white;
		}
	}
	&.active-sharing {
		.share-module-trigger {
			// border-radius: 100%;
		}
	}
}
.share-link-wrapper {
	display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px 0 10px;
    border-radius: 0 0 35px 35px;
    text-align: center;
    box-shadow: inset 1px 0 0 $gray, inset 0 -1px 0 $gray, inset -1px 0 0 $gray;
    background: $white;
    backface-visibility: hidden;
    transition: .2s ease all;
    transform: translate(0%, -50px);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    .active-sharing & {
    	transform: translate(0%, -30px);
    	opacity: 1;
    	visibility: visible;
    }
}
.share-module-trigger {
	.share-symbol,
	.cancel-symbol path {
		transition: .2s ease all;
		transform-origin: center;
	}
	.share-symbol {
		opacity: 1;
		transform: scale(1);
	}
	.cancel-symbol path {
		opacity: 0;
		transform: rotate(0deg) scale(.8);
	}
	.active-sharing & {
		.share-symbol {
			opacity: 0;
			transform: scale(.8);
		}
		.cancel-symbol path {
			opacity: 1;
			&.line-one {
				transform: rotate(45deg) scale(1);
			}
			&.line-two {
				transform: rotate(-45deg) scale(1);
			}
		}
	}
}