/*==============================================================
# Tabs
==============================================================*/
.tab-list {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 100%;
	display: none;
	@include media-breakpoint-up(md) {
		display: flex;
		align-content: stretch;
		font-size: 16px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 1.25em;
	}
	.tab {
		margin: 0;
		color: $white;
		@include media-breakpoint-up(md) {
			flex: 1 1 auto;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			background: $grayDark;
			border-left: 1px solid $grayLight;
			border-top: 1px solid $grayLight;
			border-bottom: 1px solid $grayLight;
			border-right: none;
			width: 100%;
    		text-align: left;
    		padding: 20px 0px;
    		appearance: none;
			&:hover {
				background: darken($grayLight, 8);
				color: $grayDark;
			}
    		&.active-tab {
    			background: $white;
    			color: $grayDark;
    			border-bottom: 1px solid $white;
    		}
		}
		&:last-child {
			border-right: 1px solid $grayLight;
		}

	}
	span {
		display: inline-block;
		vertical-align: middle;
	}
	.tab-icon {
		width: 20px;
		height: 20px;
		border-radius: 100%;
		border: 1px solid black;
		margin-right: 10px;
		@include media-breakpoint-up(md) {
			width: 30px;
			height: 30px;
		}
		@include media-breakpoint-up(lg) {
			width: 40px;
			height: 40px;
		}
		@include media-breakpoint-up(xl) {
			border: 2px solid black;
			width: 50px;
			height: 50px;
		}
	}
}
.tab-panel {
	@include media-breakpoint-up(md) {
		visibility: hidden;
		opacity: 0;
		height: 0;
		overflow: hidden;
		&.active-content {
			visibility: visible;
			opacity: 1;
			height: auto;
			transition: .4s all $cbTrans;
		}
	}
	&:last-child {
		border-bottom: 1px solid $gray;
		@include media-breakpoint-up(md) {
			border-bottom: none;
		}
	}
	.panel-label {
		width: 100%;
		border-left: 1px solid $gray;
		border-top: 1px solid $gray;
		border-right: 1px solid $gray;
		position: relative;
		@include media-breakpoint-up(md) {
			padding: 0;
			clip: rect(1px, 1px, 1px, 1px);
			position: absolute !important;
			height: 1px;
			width: 1px;
			overflow: hidden;
			word-wrap: normal !important;
		}
		h2 {
			padding: 15px 40px 15px 15px;
			margin-bottom: 0;
			display: inline-block;
			width: 100%;
			font-size: 0.75rem;
			font-family: $systemFont;
		}
		.icon {
			display: inline-block;
			position: absolute;
			height: 25px;
			width: 25px;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			&:before,
			&:after {
				content: "";
				background: $black;
				display: block;
				width: 100%;
				height: 1px;
				position: absolute;
				top: 50%;
				left: 0;
				transition: .4s all $cbTrans;
			}
			&:before {
				transform: translateY(-50%) rotate(0deg);
			}
			&:after {
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}
	&.active-content {
		.icon {
			&:before {
				transform: translateY(-50%) rotate(-180deg);
			}
			&:after {
				transform: translateY(-50%) rotate(0deg);
			}
		}
	}
	.panel-content {
		visibility: hidden;
		opacity: 0;
		height: 0;
		@include media-breakpoint-up(md) {
			visibility: visible;
			opacity: 1;
			height: auto;
			transition: .4s ease all;
		}
	}
	&.active-content {
		.panel-content {
			visibility: visible;
			opacity: 1;
			height: auto;
			transition: .4s ease all;
		}
		.panel-label {
			background: $white;
			svg {
				transform: rotate(180deg);
			}
		}
	}
	.content-wrapper {
		padding: 20px;
		border-left: 1px solid $gray;
		border-top: 1px solid $gray;
		border-right: 1px solid $gray;
		@include media-breakpoint-up(md) {
			border-top: none;
			border-bottom: 1px solid $gray;
		}
	}
}
.no-flexbox {
	.tab-list {
		display: block;
		float: left;
		font-size: 0;
		position: relative;
		.tab {
			display: inline-block;
			font-size: 14px;
			width: auto;
			padding: 15px 20px;

		}
	}
	.tab-panel {
		width: 100%;
		float: left;
		position: relative;
		top: -1px;
    	z-index: -1;
		&:before {
			content: "";
			height: 1px;
			display: block;
			width: 100%;
			background: $gray;
			position: absolute;
			top: 0;
			z-index: -1;
			left: 0;
		}
	}
}