/*==============================================================
# Forms
==============================================================*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid $greyLight;
	border-radius: 0px;
	padding: 8px 12px;
	width: 100%;
}

select {
	border: 1px solid $greyLight;
	appearance: none;
	border-radius: 0;
	padding: 8px 12px;
	width: 100%;
	background: $white;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
	outline: none;
}

textarea {
	width: 100%;
}

label {
	display: block;
}

.input-group {
	margin: 10px 0 15px;
}
.form-note,
.form-response {
	p {
		font-style: italic;
		font-size: .85em;
	}
	&.error {
		color: $brand-orange;
	}
}

// Site search form
// --------------------------------------------------

.site-search {
	form {
		width: 100%;
		display: table;
	}
	.input-wrapper {
		position: relative;
		input[type="search"] {
			padding: 10px 60px 10px 10px ;
			width: 100%;
		}
		input[type="text"] {
			margin: 0;
		}
		input[type="submit"] {
			position: absolute;
			bottom: 0;
			right: 0;
			height: 100%;
			padding: 0;
			width: 50px;
			background-color: transparent;
			border-left: 1px solid $greyLight;
			z-index: 2;
		}
		.button-icon {
			position: absolute;
			top: 50%;
			right: 10px;
			z-index: 1;
			@include translate(0, -50%);
			svg {
				display: inline-block;
				max-height: 30px;
				max-width: 30px;
				float: left;
			}
		}
	}
}