/*==============================================================
# Multi level push navigation
==============================================================*/

// Active navigation styles
// --------------------------------------------------

.multi-level-push {
	.navigation-container {
		position: relative;
		overflow: hidden;
	}
	.main-menu {
		&.inactive-menu-group {
			transform: translateX(-100%);
	    }
	}
	.main-menu .sub-menu {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    z-index: 1;
	    width: 100%;
	    transform: translateX(200%);
	    &.active-menu-group {
			transform: translateX(100%);
	    }
	    &.inactive-menu-group {
			transform: translateX(0%);
	    }
	}
	.menu {
		transition: .4s ease all;
	}
	.main-menu {
		li {
			&:hover {
				> .sub-menu {
					display: block;
					/*transform: translateX(0%);*/
				}
			}
		}
		a {
			position: relative;
		}
		.caret {
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
			&:after {
				display: block;
				content: "•••";
			}
		}
	}
}

.site-navigation {
	display: block;
	width: 100%;
}
#primary-menu {
	background: $white;
	li {
		> a {
			padding: 10px;
			display: block;
			background: $grayLight;
			border-bottom: 1px solid $white;
		}
	}
	ul {
		ul {
		}
	}
	.sub-menu {
		a {
			background: $gray;
		}
	}
}