/*==============================================================
# Buttons
==============================================================*/

.button, 
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-weight: 400;
	letter-spacing: 1px;
	border: 1px solid;
	display: inline-block;
	padding: 8px 12px;
	margin: 10px 0 15px;
	background-color: $grayDark;
	color: $white;
	cursor: pointer;
	transition: all .3s $cbTrans;
	text-decoration: none;
	appearance: none;
	border-radius: 0;
	&:hover {
		background-color: $white;
		border-color: $gray;
		color: $gray;
	}
	&.red-button {
		background-color: $red;
    	color: $white;
    	&:hover {
    		background-color: $white;
    		border-color: $red;
    		color: $red;
    	}
	}
	&.blue-button {
		background-color: $blue;
    	color: $white;
    	&:hover {
    		background-color: $white;
    		border-color: $blue;
    		color: $blue;
    	}
	}
	&.green-button {
		background-color: $green;
    	color: $white;
    	&:hover {
    		background-color: $white;
    		border-color: $green;
    		color: $green;
    	}
	}
	&.yellow-button {
		background-color: $yellow;
    	color: $white;
    	&:hover {
    		background-color: $white;
    		border-color: $yellow;
    		color: $yellow;
    	}
	}
	&.white-button {
		background-color: $white;
    	color: $gray;
    	&:hover {
    		background-color: $gray;
    		color: $white;
    	}
	}
	&.button-label {
		margin: 10px 0 20px;
		&.inactive-button {
			cursor: default;
			border: none;
			&:hover {
	    		background-color: $gray;
	    		color: $white;
	    	}
	    }
	}
}
.edit-button {
	@extend .button;
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {

}