body.login #login h1 a {
	background: url('".get_bloginfo('template_url')."/img/blink-182-logo.svg') no-repeat scroll center top transparent;
	background-size: cover;
    height: 55px;
    width: 320px;
}
body.login {
	background: white;
}
body.login #login {
	    padding: 10% 0 0;
}