
// Branded admin colors
// --------------------------------------------------

.wp-core-ui .button-primary,
.wp-core-ui .button-primary-disabled, 
.wp-core-ui .button-primary.disabled, 
.wp-core-ui .button-primary:disabled, 
.wp-core-ui .button-primary[disabled] {
	background: $grayDark !important;
	border-color: $grayDark !important;
	box-shadow: 0 1px 0 $grayDark !important;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px $grayDark, 1px 0 1px $grayDark, 0 1px 1px $grayDark, -1px 0 1px $grayDark;
}
.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
	color: $grayDark;
}
.wrap .add-new-h2:hover,
.wrap .page-title-action:hover {
	background: lighten($grayDark, 10%);
    border-color: lighten($grayDark, 5%);
    color: #fff;
}
.wp-core-ui .button-primary-disabled, 
.wp-core-ui .button-primary.disabled, 
.wp-core-ui .button-primary:disabled, 
.wp-core-ui .button-primary[disabled] {
	opacity: .8;
	color: lighten($grayDark, 50%) !important;
}
#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top>a:focus,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before {
	color: $white;
}
a {
	color: lighten($grayDark, 10%);
}
a:active,
a:hover {
	color: $red;
}
.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover {
    background: lighten($grayDark, 10%);
    border-color: lighten($grayDark, 5%);
    color: #fff;
}
.login #login_error, 
.login .message, .login .success,
.plugin-update-tr.active td,
.plugins .active th.check-column {
	border-left: 4px solid $red;
}
input[type=checkbox]:checked:before {
	color: lighten($grayDark, 10%);
}
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
.folded #adminmenu li.wp-has-current-submenu {
	background: $red;
}
.plugins .active td,
.plugins .active th {
	background: lighten($red, 35%);
}
#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
	background: lighten($grayDark, 10%);
}
.view-switch a.current:before {
	color: $red;
}
.acf-button-group label.selected,
.acf-switch.-on  {
	background: $red !important;
	border-color: lighten($red, 10%) !important;
}
.acf-switch.-on .acf-switch-slider {
	border-color: lighten($red, 10%) !important;
}
.acf-switch .acf-switch-on {
	text-shadow: lighten($red, 10%) 0 1px 0 !important;
}
.acf-switch.-focus .acf-switch-slider {
	border-color: #ccc !important;
    box-shadow: none !important;
}
.acf-field-object.open > .handle {
	background: $red !important;
    border: lighten($red, 10%) solid 1px !important;
    text-shadow: lighten($red, 10%) 0 1px 0 !important;
}
#wp-admin-bar-client-logo {
	cursor: none;
	&:hover {
		div {
			background: url('../img/logos/client-logo-white.svg') no-repeat scroll center top transparent !important;
			color: transparent !important;
		}
	}
	div{
    	width: 25px !important;
    	height: 25px !important;
    	background: url('../img/logos/client-logo-white.svg') no-repeat scroll center top transparent;
		background-size: contain;
		margin: 4px 0 0 !important;
	}
}
.wp-admin #wpadminbar #wp-admin-bar-site-name>.ab-item:before {
	display: none !important;
}
#wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label,
#wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label,
#wpadminbar>#wp-toolbar li.hover span.ab-label,
#wpadminbar>#wp-toolbar li.hover span.ab-icon,
#wpadminbar>#wp-toolbar li.hover span.ab-icon:before,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a, 
#wpadminbar .quicklinks .menupop ul li a:focus, 
#wpadminbar .quicklinks .menupop ul li a:focus strong, 
#wpadminbar .quicklinks .menupop ul li a:hover, 
#wpadminbar .quicklinks .menupop ul li a:hover strong, 
#wpadminbar .quicklinks .menupop.hover ul li a:focus, 
#wpadminbar .quicklinks .menupop.hover ul li a:hover, 
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus, 
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover, 
#wpadminbar li #adminbarsearch.adminbar-focused:before, 
#wpadminbar li .ab-item:focus .ab-icon:before, 
#wpadminbar li .ab-item:focus:before, 
#wpadminbar li a:focus .ab-icon:before, 
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before, 
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, 
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
    color: $white !important;
}

#wpadminbar {
	background: #32373c;
}

// WP admin hide and show
// --------------------------------------------------

#wpadminbar {
  transition: all 0.4s ease;
  &.hide {
  	transform: translate(0, -46px);
  	@media only screen and (min-width: 783px) {
    	transform: translate(0, -32px);
    }
  }
}
#admin-trigger {
	text-decoration: none;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 101;
	transition: all .4s ease;
	&:hover {
		opacity: 1;
	}
	&:after {
		background: #333;
		color: #fff;
		font-size: 20px;
		display: block;
		line-height: 100%;
		padding: 5px 0 10px;
		width: 35px;
		z-index: 2000;
		transition: all .4s ease;
		content: "+";
		text-align: center;
	}
	&.down {
		&:after {
			padding: 6px 0 9px;
			transform: translate(0, 46px);
			content: "-";
			@media only screen and (min-width: 783px) {
				transform: translate(0, 32px);
			}
		}
	}
}
// Hides the "most used" tab on the format taxonomy options
#format-tabs {
	li {
		&:last-child {
			display: none;
		}
	}
}