/*==============================================================
# Maps
==============================================================*/

.map-container {
    height: 0;
    width: 100%;
    padding-bottom: 55%;
}
.info-window {
	h5 {
		margin-bottom: 0;
		font-weight: bold;
	}
	p {
		margin-bottom: 0;
	}
}